<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Jquery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex flex-center">
        <p class="text-center section-header-text">
          {{{title}}}
        </p>
      </div>
      <div class="row flex flex-center">
        <p class="text-center section-subheader-text">
          {{{subTitle}}}
        </p>
      </div>
      {{{body}}}
    </div>
    <script src="/javascripts/action.js"></script>
  </body>
</html>
